{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
    <title>Student Enrollment App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color:#ccc">
    <nav>
        <div class="nav-left">
            <a href="{% url 'success' %}">Home</a>
            <a href="{% url 'add_subject' %}">Add subject</a>
            <a href="{% url 'add_user' %}" class="current">Add user</a>
            <a href="{% url 'create_enrollment' %}">Enroll student</a>
        </div>
        <div class="nav-right">
            {% csrf_token %}
            <br>
            {% if user %}
              Logged in as {{ user.username }}.
              <a href="{% url 'user_list' %}">Delete user</a>
              <a href="{% url 'logout' %}" class="logout">Logout</a>
            {% else %}
              No user created yet.
            {% endif %}
          </div>
    </nav>
    <br>
    <div class="form_container">
    <form method="post" action="{% url 'add_user' %}">
        {% csrf_token %}
        <p><b><i>Add a new user<p>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br>
        <label for="username"><b>Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="repeat_password">Repeat password:</label>
        <input type="password" id="repeat_password" name="repeat_password" required>
        <br>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="">Select an option</option>
            <option value="student">Student</option>
            <option value="administrator">Administrator</option>
            <option value="professor">Professor</option>
        </select>
        <br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="">Select an option</option>
            <option value="regular">Regular</option>
            <option value="part-time">Part time<b><i></i></option>
        </select>
        <br>
        <input type="submit" value="Submit" class="submit_btn">
        <br>
    </form>
    </div>
</body>
</html>
