{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Enrollment App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body style="background-color:#ccc">
    <nav>
        <div class="nav-left">
          <a href="{% url 'success' %}">Home</a>
          <a href="{% url 'upisni_list' %}">Enrollment list</a>
          <a href="javascript:history.back()">Return</a> 
        </div>
        <div class="nav-right">
          {% csrf_token %}
          <br>
          Logged in as {{ user.username }}.
          <a href="{% url 'user_list' %}">Delete user</a>
          <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <h1>Enroll Subject</h1>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to enroll in {{ subject.name }}?</p>
        <input type="submit" value="Enroll">
    </form>
</body>
</html>
