{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Student Enrollment App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color:#ccc">
    <nav>
        <div class="nav-left">
            <a href="{% url 'success' %}">Home</a>
            <a href="{% url 'professor_subjects' %}">Subjects</a>
        </div>
        <div class="nav-right">
            <br>
            Logged in as {{ user.username }}.
            <a href="{% url 'user_list' %}">Delete user</a>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
    </nav>
    <br><br>
    <h2>Subject Details for {{ subject.name }}</h2>
    <p><b>Code:</b> {{ subject.kod }}</p>
    <p><b>Program:</b> {{ subject.program }}</p>
    <p><b>Elective course:</b> {{ subject.izborni }}</p>
    <p><b>ECTS:</b> {{ subject.ects }}</p>

</body>
</html>
