{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Enrollment App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color:#ccc">
    <nav>
        <div class="nav-left">
          <a href="{% url 'success' %}" class="current" >Home</a>
          <a href="{% url 'upisni_list' %}" >Enrolled in</a>
        </div>
        <div class="nav-right">
          {% csrf_token %}
          <br>
          Logged in as {{ user.username }}.
          <a href="{% url 'user_list' %}">Delete user</a>
          <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <h2>Logged in as a <b>student</b>. <br><br>Hello, <b>{{ user.username }}</b>!</h2>
    <form action="{% url 'enrolled_student' %}" method="post" >
      {% csrf_token %}
      <input type="submit" value="Enrolled subjects" style="width: 200px">
    </form> 
    <form action="{% url 'unenrolled_subjects' %}" method="post" >
      {% csrf_token %}
      <input type="submit" value="Unenrolled subjects" style="width: 200px">
    </form>
    <p>Take a look at your enrolled courses by selecting the "Enrolled in" button.</p>  
</body>
</html>