{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Professor List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{% url 'cover_view' %}">COVER PAGE</a>
            <a href="{% url 'contact' %}" class="current">CONTACT</a>
          </div>
          <div class="nav-right">
            <a href="{% url 'login' %}" class="logout">LOGIN</a>
          </div>
    </nav>
    <br>
    <br>
    <br>
    {% for professor in professors %}
    <div class="student-info">
        <h2>{{ professor.first_name }} {{ professor.last_name }}</h2>
        <p>Role: {{ professor.role }}</p>
        <p>Contact info: {{ professor.email }}</p>
    </div>
    <hr>
    {% endfor %}
</body>
</html>