{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Enrollment App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color:#ccc">
    <nav>
        <div class="nav-left">
          <a href="{% url 'success' %}" class="current">Home</a>
          <a href="{% url 'add_subject' %}">Add subjects</a>
          <a href="{% url 'add_user' %}">Add user</a>
          <a href="{% url 'create_enrollment' %}">Enroll</a>

        </div>
        <div class="nav-right">
          <br>
          Logged in as {{ user.username }}.
          <a href="{% url 'user_list' %}">Delete user</a>
          <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
    </nav>
    <div style="text-align: center;">
    <h2>Logged in as an administrator. <br><br>Hello, {{ user.username }}!</h2>
    <br>
    <form action="{% url 'lista_predmeta' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Subjects" style="width: 150px">
    </form>
    <form action="{% url 'student_list' %}" method="post" >
      {% csrf_token %}
      <input type="submit" value="Students" style="width: 150px">
    </form>
    <form action="{% url 'professor_list' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Professors" style="width: 150px">
    </form>
    <form action="{% url 'subject_list' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Passed" style="width: 150px">
    </form>
  </div>
</body>
</html>
